# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
jspm_packages
bower_components
/scripts/bower/bower-*


/build/
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
libpeerconnection.log
/tmp/
.vscode
*.stackdump